<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Ask a question</h1> 
   <form action="answer">
       <input type="text" name="ask">
       <input type="submit" value="Ask">
   </form>
</body>
</html>